<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">


	<listeners>
		<listener class-name="com.w2a.extentlisteners.ExtentListeners" />
	</listeners>



	<test name="Find New Car Test">
    	<classes>
    	  <class name="com.w2a.testcases.FindNewCarTest"/>
   		</classes>
 	</test>

  	<test name="Car Name And Price Test">
    	<classes>
    	  <class name="com.w2a.testcases.CarNameAndPriceTest"/>
   		</classes>
 	</test>
  
  
</suite> <!-- Suite -->
